.a{
    background-image: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85))
}
.top{
margin-top: 50px;
}
.html{
  
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.619), rgb(85 16 16),rgb(248, 4, 4));  
}

.c{
    background-color: rgb(0, 0, 0);
    color: rgb(26, 32, 221);
    border: 0px;
}
.c:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(26, 32, 221);
}
.body{
    background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.619), rgb(85 16 16),rgb(248, 4, 4));

}


 .text{



animation-name: rest;
animation-duration:1s;
animation-iteration-count:infinite;
animation-timing-function:ease-in-out;
}
@keyframes rest {
    
    0%{
        color:white
    }
   
    100%{
        color:brown;
    }
    
}


.item{
    background-image: linear-gradient(to top right, rgba(154, 154, 154, 0.868), rgba(190, 190, 194, 0.26),rgba(211, 211, 211, 0.458));
}


.item:hover{
    background-image:none;
    background-color: rgb(187, 201, 213);
}
    
  .bad{
    position:absolute;
    width: 12rem;
    

  }


  .flex{
    display:flex;
    align-items: center;
  }

  .b{    background-color: rgb(0, 0, 0);
    color: rgb(26, 32, 221);
    width: 10rem;
    height: 2.5rem;
    text-align: center;
  }
.head{
        background-image: linear-gradient(to top right, rgba(55, 52, 52, 0.868), rgba(190, 190, 194, 0.26),rgba(211, 211, 211, 0.458));

}
.bold{
font-weight: bold;
}

.contain {
 
        margin-top: 40px; 
       
color: black;

    
  }
  .he {
    font-size: 16px; 
    line-height: 1.6;
  }
.mi{
    min-height: 1000px;
    background-image: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85))
}
  
